!!!
html
  head
    title roboDeck.js
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='./deck.js/core/deck.core.css')
    link(rel='stylesheet', href='./deck.js/extensions/goto/deck.goto.css')
    link(rel='stylesheet', href='./deck.js/extensions/hash/deck.hash.css')
    link(rel='stylesheet', href='./deck.js/extensions/menu/deck.menu.css')
    link(rel='stylesheet', href='./deck.js/extensions/navigation/deck.navigation.css')
    link(rel='stylesheet', href='./deck.js/extensions/scale/deck.scale.css')
    link(rel='stylesheet', href='./deck.js/extensions/status/deck.status.css')
    // Style theme. More available in /themes/style/ or create your own.
    link(rel='stylesheet', href='../deck.js/themes/style/neon.css')
    // Transition theme. More available in /themes/transition/ or create your own.    
    link(rel='stylesheet', href='../deck.js/themes/transition/horizontal-slide.css')
    script(src='../modernizr.custom.js')
    script(src='../socket.io/socket.io.js')
    script(src='../app-desktop.js')
    
  body.deck-container
    != body
</head>