// Create any number of elements with class slide within the container
section.slide
	h1 roboDeck.js

section.slide#how-to-overview
	h2 How to Make a Deck
		ol
			li
				h3 Write Slides
				p Slide content is simple HTML
			li
				h3 Choose Themes
				p One for slide styles and one for deck transitions
			li
				h3 Include Extensions
				p Add extra functionality to your deck, or leave it stripped down

section.slide#elements-videos
	h2 Code Example roboDeck.js
		pre
			code
				$(function() {
				&#32;&#32;$.deck('.slide');
				});

// deck.navigation snippet
a.deck-prev-link(href='#', title='Previous') &#8592
a.deck-next-link(href='#', title='Next') &#8594

// deck.goto snippet
form.goto-form(action='.', method='get')
	label(for='goto-slide') Go to slide:
	input#goto-slide(type='text', name='slidenum', list='goto-datalist')
	datalist#goto-datalist
	input(type='submit', value='Go')

// deck.hash snippet
a.deck-permalink(href='.', title='Permalink to this slide') #

// Other extension HTML snippets go here, at the bottom of the deck container.
// Update these paths to point to the correct files.

script(src='../jquery-1.7.min.js')
script(src='../deck.js/core/deck.core.js')
script(src='../deck.js/extensions/hash/deck.hash.js')
script(src='../deck.js/extensions/menu/deck.menu.js')
script(src='../deck.js/extensions/goto/deck.goto.js')
script(src='../deck.js/extensions/status/deck.status.js')
script(src='../deck.js/extensions/navigation/deck.navigation.js')
script(src='../deck.js/extensions/scale/deck.scale.js')

// Add any other extension JS files here
// Initialize the deck. You can put this in an external file if desired.

script
	$(function() {$.deck('.slide');});

script
	var socket = io.connect();
	// socket.on('server', function (data) {
		//console.log(data);
		//socket.emit('client-desktop', { client: 'data', clientType: navigator.userAgent });
	// });
	socket.on('changeDeck', function (data) {
		console.log("CHANGE REQUEST received");
		console.log(data);
		// upon change request - update UI
		$(".deck-container").css({"background":"red"})

		// socket.emit('change:success', { client: 'hellyea', clientType: navigator.userAgent });
	});

