
script
	var socket = io.connect();
	socket.on('server', function (data) {
		console.log(data);
		// socket.emit('client-mobile', { client: 'data', clientType: navigator.userAgent });

		// move to a button
		// socket.emit('client-mobile', { deckHandler: 'changeBG', color: 'red' });
	});
	