!!!
html
  head
    title robodeck mobile
    // sencha 1.0
    // link(rel='stylesheet', href='../javascripts/sencha/resources/css/sencha-touch.css')
    // script(src='http://maps.google.com/maps/api/js?sensor=true')
    // script(src='./javascripts/sencha/sencha-touch-debug.js')

    // sencha 2.0
    link(rel='stylesheet', href='app/lib/touch/resources/css/sencha-touch.css', title='senchatouch', id='senchatouch')
    link(rel='stylesheet', href='app/css/style.css', title='android', id='android')

    
    script(src='app/lib/touch/sencha-touch.js')
    script(src='app/app/app.js')
    script(src='app/app/views/Viewport.js')
    script(src='app/app/views/Home.js')

    // other    
    script(src='./modernizr.custom.js')
    script(src='./socket.io/socket.io.js')


    
  body.deck-container
    != body