!!!
html
  head
    title roboDeck.js mobile
    link(rel='stylesheet', href='../javascripts/sencha/resources/css/sencha-touch.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='../javascripts/sencha/sencha-touch-debug.js')
    script(src='../javascripts/modernizr.custom.js')
    script(src='../javascripts/socket.io/socket.io.js')
    script(src='../javascripts/index-mobile.js')
    
  body.deck-container
    != body