body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.deck-current {
	
}

#clients {
	position: absolute;
	width: 2000px; 
	height: 300px;
	z-index: 1000;
	font-size: 55px;
}

