@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-list-paging;
@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;

//custom icons
@include pictos-iconmask('photo1');
@include pictos-iconmask('photos2');
@include pictos-iconmask('photo_black2');
@include pictos-iconmask('mail');
@include pictos-iconmask('wifi3');
@include pictos-iconmask('compass1');

//camera
.imageList {
    .x-img {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-color: #fff;
        background-size: contain;
        background-position: center;
        margin: 5px 0 0 5px;
    }
}

.imageView {
    background-position: center center;
}

//orientation
#cube {
    -webkit-transform-style: preserve-3d;
    width: 200px;
    height: 200px;
    overflow: visible;
}

#cube .x-innerhtml {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: visible;
}

#cube .x-innerhtml > div {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    border: 1px solid #FFF;
}

#cube .x-innerhtml > div:first-child {
    -webkit-transform: rotateX(90deg) translateZ(100px);
    background-color: red;
}

#cube .x-innerhtml > div:nth-child(2) {
    -webkit-transform: translateZ(100px);
    background-color: green;
}

#cube .x-innerhtml > div:nth-child(3) {
    -webkit-transform: rotateY(90deg) translateZ(100px);
    background-color: blue;
}

#cube .x-innerhtml > div:nth-child(4) {
    -webkit-transform: rotateY(180deg) translateZ(100px);
    background-color: orange;
}

#cube .x-innerhtml > div:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(100px);
    background-color: cyan;
}

#cube .x-innerhtml > div:nth-child(6) {
    -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
}

